<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--   <script src="js/jquery-3.3.1.min.js"></script> -->
</head>
<body>
<div align="center">
    <form action="register" method="post">
        <div align="center" id="register">
            姓名：<input id="userName" name="userName" type="text" ><br>
            密码：<input id="userPassword" name="userPassword" type="password" ><br>
        </div>
        <div align="center"><input type="submit" value="注册" ></div>
     </form>
        <!-- <script src="js/denglu.js"></script> <!--引入动态加载文件-->
</div>

</body>
</html>