<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel3.mapper.InOrderMapper" >
  <resultMap id="BaseResultMap" type="com.hotel3.model.InOrder" >
    <id column="inId" property="inId" jdbcType="VARCHAR" />
    <result column="preId" property="preId" jdbcType="VARCHAR" />
    <result column="orderType" property="orderType" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="cellPhone" property="cellPhone" jdbcType="VARCHAR" />
    <result column="IDnumber" property="IDnumber" jdbcType="VARCHAR" />
    <result column="roomId" property="roomId" jdbcType="VARCHAR" />
    <result column="inTime" property="inTime" jdbcType="VARCHAR" />
    <result column="outTime" property="outTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getInOrderAll" resultType="com.hotel3.model.InOrder" parameterType="com.hotel3.model.InOrder">
        select * from inorder
    <trim prefix="where 1=1" suffix=" "  suffixOverrides="," >
      <if test="inId != null and inId !=''" >
        and inId=#{inId,jdbcType=VARCHAR}
      </if>
      <if test="preId != null and preId !=''" >
        and preId=#{preId,jdbcType=VARCHAR}
      </if>
      <if test="orderType != null and orderType !=''" >
        and orderType=#{orderType,jdbcType=VARCHAR}
      </if>
      <if test="userId != null and userId !=''" >
        and userId=#{userId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName !=''" >
        and userName=#{userName,jdbcType=VARCHAR}
      </if>
      <if test="gender != null and gender !=''" >
        and gender=#{gender,jdbcType=INTEGER}
      </if>
      <if test="cellPhone != null and cellPhone !=''" >
        and #{cellPhone,jdbcType=VARCHAR}
      </if>
      <if test="IDnumber != null and IDnumber !=''" >
        and IDnumber=#{IDnumber,jdbcType=VARCHAR}
      </if>
      <if test="roomId != null and roomId !=''" >
        and roomId=#{roomId,jdbcType=VARCHAR}
      </if>
      <if test="inTime != null and inTime !=''" >
        and inTime>=#{inTime,jdbcType=VARCHAR}
      </if>
      <if test="outTime != null and outTime !=''" >
        and outTime>=#{outTime,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status !=''" >
        and status=#{status,jdbcType=VARCHAR}
      </if>
      <if test="duration != null and duration !=''" >
        and duration=#{duration,jdbcType=VARCHAR}
      </if>
      <if test="createrBy != null and createrBy !=''" >
        and createrBy=#{createrBy,jdbcType=VARCHAR}
      </if>
      <if test="createrDate != null and createrDate !=''" >
        and createrDate>=#{createrDate,jdbcType=VARCHAR}
      </if>
      <if test="modifiedBy != null and modifiedBy !=''" >
        and modifiedBy=#{modifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="modifiedDate != null and modifiedDate !=''" >
        and modifiedDate>=#{modifiedDate,jdbcType=VARCHAR}
      </if>
    </trim>
    ORDER BY createrDate DESC;
  </select>
  <insert id="addInOrder" parameterType="com.hotel3.model.InOrder">
        INSERT INTO inorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="inId != null and inId !=''" >
        inId,
      </if>
      <if test="preId != null and preId !=''" >
        preId,
      </if>
      <if test="orderType != null and orderType !=''" >
        orderType,
      </if>
      <if test="userId != null and userId !=''" >
        userId,
      </if>
      <if test="userName != null and userName !=''" >
        userName,
      </if>
      <if test="gender != null and gender !=''" >
        gender,
      </if>
      <if test="cellPhone != null and cellPhone !=''" >
        cellPhone,
      </if>
      <if test="IDnumber != null and IDnumber !=''" >
        IDnumber,
      </if>
      <if test="roomId != null and roomId !=''" >
        roomId,
      </if>
      <if test="inTime != null and inTime !=''" >
        inTime,
      </if>
      <if test="outTime != null and outTime !=''" >
        outTime,
      </if>
      <if test="status != null and status !=''" >
        status,
      </if>
      <if test="duration != null and duration !=''" >
        duration,
      </if>
      <if test="createrBy != null and createrBy !=''" >
        createrBy,
      </if>
      <if test="createrDate != null and createrDate !=''" >
        createrDate,
    </if>
      <if test="modifiedBy != null and modifiedBy !=''" >
        modifiedBy,
    </if>
      <if test="modifiedDate != null and modifiedDate !=''" >
        modifiedDate,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="inId != null and inId !=''" >
        #{inId,jdbcType=VARCHAR},
      </if>
      <if test="preId != null and preId !=''" >
        #{preId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null and orderType !=''" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null and userId !=''" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName !=''" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null and gender !=''" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="cellPhone != null and cellPhone !=''" >
        #{cellPhone,jdbcType=VARCHAR},
      </if>
      <if test="IDnumber != null and IDnumber !=''" >
        #{IDnumber,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null and roomId !=''" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null and inTime !=''" >
        #{inTime,jdbcType=VARCHAR},
      </if>
      <if test="outTime != null and outTime !=''" >
        #{outTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status !=''" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="duration != null and duration !=''" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="createrBy != null and createrBy !=''" >
        #{createrBy,jdbcType=VARCHAR},
      </if>
      <if test="createrDate != null and createrDate !=''" >
        #{createrDate,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null and modifiedBy !=''" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null and modifiedDate !=''" >
        #{modifiedDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getOneInOrder" resultType="com.hotel3.model.InOrder">
        select * from inorder where inId =#{inId};
  </select>

  <update id="updateInOrderById" parameterType="com.hotel3.model.InOrder" >
    update inorder
    <set >
      <if test="userName != null and userName !=''" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null and gender !=''" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="orderType != null and orderType !=''" >
        orderType = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="cellPhone != null and cellPhone !=''" >
        cellPhone=#{cellPhone,jdbcType=VARCHAR},
      </if>
      <if test="IDnumber != null and IDnumber !=''" >
        IDnumber=#{IDnumber,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null and roomId !=''" >
        roomId=#{roomId,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null and inTime !=''" >
        inTime=#{inTime,jdbcType=VARCHAR},
      </if>
      <if test="outTime != null and outTime !=''" >
        outTime=#{outTime,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null and modifiedBy !=''" >
        modifiedBy=#{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null and modifiedDate !=''" >
        modifiedDate=#{modifiedDate,jdbcType=VARCHAR},
      </if>
    </set>
    where inId = #{inId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteInOrderById" parameterType="java.lang.String" >
    delete from inorder
    where inId = #{inId,jdbcType=VARCHAR}
  </delete>
</mapper>