<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel3.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.hotel3.model.Room" >
    <id column="roomId" property="roomId" jdbcType="VARCHAR" />
    <result column="orderType" property="roomType" jdbcType="VARCHAR" />
    <result column="roomId" property="roomId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getRoom" resultType="com.hotel3.model.Room">
     select * from room
    <if test="roomId != null and roomId !=''">
      where roomId like CONCAT('%','${roomId}','%' )
    </if>
    <if test="roomId != null and roomId !=''">
      where orderType =#{orderType}
    </if>
    <if test="roomId != null and roomId !=''">
      where status =#{status}
    </if>
    </select>

  <insert id="addRoom" parameterType="com.hotel3.model.Room">
    INSERT INTO room
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="roomId != null and roomId !=''" >
        roomId,
      </if>
      <if test="roomType != null and roomType !=''" >
        roomType,
      </if>
      <if test="status != null and status !=''" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomId != null and roomId !=''" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null and roomType !=''" >
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status !=''" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getOneRoom" resultType="com.hotel3.model.Room" parameterType="java.lang.String">
        select * from room where roomId =#{roomId};
  </select>

  <update id="updateRoomById" parameterType="com.hotel3.model.Room">
    update room
    <set>
      <if test="roomType != null and roomType !=''" >
        roomType = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status !=''" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
  where roomId = #{roomId,jdbcType=VARCHAR}
  </update>

  <delete id="deleteRoomById" parameterType="java.lang.String" >
    delete from room
    where roomId = #{roomId,jdbcType=VARCHAR}
  </delete>
</mapper>